
.clear{
	clear: both;
}
.hidden{
	display: none;
}
.kong{
	width: 100%;
	height: 20px;
	background:#F5F7F9 ;
}
.nextButton{
	position: fixed;
	bottom: 0px;
	width: 100%;
	background: white;
	/*padding: 0px 10px 10px 10px;*/
}
.nextButton button{
	
	display: block;
	width: 100%;
	border: none;
	height: 45px;
	line-height: 45px;
	background: #14A9E0;
	/*border-radius: 5px;*/
	color: white;
	font-size: 16px;
	/*margin-left: 5%;
	margin-right: 5%;*/
}
/*蒙层*/
.cover{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	background:rgba(0,0,0,0.5);
	left:0;
	top:0;
	display: none;
}

/********小组件的css**********/
/*
    分享页面底部的下载按钮
 * APP打开没有下载按钮，分享出去的带下载按钮
 * */
.my-download {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 16%;
	background: url(../../images/download_footer.png) no-repeat;
	background-size: cover;
	z-index: 10000001;
}
/*下划线*/
.my-line {
	/*margin-left: 15px;*/
	/*margin-right: 15px;*/
	height: 1px;
	background: #E2E2E2;
}





/*公用的css*/


html,body,ol,ul,li,dl,dt,form,p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: helvetica, arial, verdana, simhei, "microsoft yahei";
  font-size: 12px;
}
html {
  height: 100%;
}
body {
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  position: relative;
}
.img-responsive {
  max-width: 100%;
}
input,button,select,textarea,a {
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}

#download_footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 16%;
  background: url(../../images/download_footer.png) no-repeat;
  background-size: cover;
  z-index: 10000001;
  display: none;
}

/*清除浮动最好方法*/
.clearfix:before,.clearfix:after{
    content: '';
    display: table;
}
.clearfix:after{clear:both}
.clearfix{
    *zoom:1;/*IE/6/7*/
}